* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

li {
  list-style-type: none;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

video {
  aspect-ratio: 16 / 9;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
span,
li {
}

/* :focus {
  outline: 2px solid #000;
  outline-offset: 2px;
} */
