body {
  font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  color: var(--text-color);
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li {
  /* text-box-trim: trim-both; */
  /* text-box-edge: cap alphabetic; */
  text-box: trim-start cap alphabetic;
  padding-top: 0.15rem;

  overflow-wrap: anywhere;
  text-wrap: pretty;
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}

a {
  color: var(--slate-5);
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--slate-4);
}