:root {
  --header: max-content;

  /* Light Mode */
  --background-color: var(--slate-1);
  --text-color: var(--slate-8);
  --menu-button: var(--slate-8);
  --icon-invert: 0;

  /* Spacing */
  --padding: 0.3125rem;
  --gap: 0.3125rem;

  /* Borders */
  --border: 1px solid rgb(203, 203, 203);
  --border-radius: 5px;
  --box-shadow: 0 0 2px rgba(0, 0, 0, 0.342);
}

/* Dark Mode */
[data-theme="dark"] {
  --background-color: #18191f;
  --text-color: #fff;
  --menu-button: var(--slate-2);
  --icon-invert: 1;
}

:host(:not(wc-button)) {
  width: 100%;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  background-color: var(--background-color, #fff);
}

#loading-overlay {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6); /* coloque a cor que quiser */
  z-index: 99999;
}

.layout {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  gap: var(--gap);

  padding: var(--padding);
  height: 100dvh;
}

header {
  border: 1px solid var(--gray-4);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 36px;
}

.header-logo {
  line-height: 1;
}

#menu {
  margin-left: 4px;
}

.nav-main {
  flex: 1;
  display: flex;
  position: relative;
}

nav {
  min-width: 120px;
  height: 100%;
  border: 1px solid var(--gray-4);
  padding: var(--padding);
  border-radius: var(--border-radius);
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.4rem;
  overflow-y: auto;
  background-color: var(--background-color);
  z-index: 1;

  transition: margin-left 0.5s ease;
  position: absolute;
}

nav li {
  font-weight: bold;
  text-transform: uppercase;
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s ease;
}

a:hover {
  color: var(--slate-4)
}

nav a[aria-current="page"] {
  color: var(--slate-5);
}

main {
  width: 100%;
  border: 1px solid var(--gray-4);
  padding: var(--padding);
  border-radius: var(--border-radius);
  overflow-y: auto;

  transition: margin-left 0.5s ease;
}

#app {
  height: 100%;
}

#app > .page {
  height: 100%;
  opacity: 1;
  transition: opacity 1s ease;
}

#app.is-fading > .page {
  opacity: 0;
}

footer {
  grid-area: footer;
  border: 1px solid var(--gray-4);
  padding: var(--padding);
  border-radius: var(--border-radius);
  text-align: center;
}

/* --- */

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

svg {
  filter: invert(var(--icon-invert));
}

@media (max-width: 700px) {
  nav {
    margin-left: -125px;
  }

  nav.visible {
    margin-left: 0;
  }
}

@media (min-width: 701px) {
  #menu {
    display: none;
  }

  .header-logo {
    padding-left: 5px;
  }

  main {
    margin-left: 125px;
  }
}
