:root {
  --header: max-content;

  /* Light Mode */
  --background-color: #e8e8f3;
  --text-color: #000;
  --icon-invert: 0;

  /* Spacing */
  --padding: 0.3125rem;

  /* Borders */
  --border: 1px solid rgb(203, 203, 203);
  --border-radius: 5px;
  --box-shadow: 0 0 2px rgba(0, 0, 0, 0.342);
}

/* Dark Mode */
[data-theme="dark"] {
  --background-color: #18191f;
  --text-color: #fff;
  --icon-invert: 1;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  background-color: var(--background-color, #fff);
}

.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 5px;
  transition: column-gap 0.3s ease;

  padding: var(--padding);
  height: 100dvh;
}

header {
  grid-area: header;
  border: 1px solid var(--gray-4);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  line-height: 1;
}

nav {
  grid-area: nav;
  border: 1px solid var(--gray-4);
  padding: var(--padding);
  border-radius: var(--border-radius);
  width: 120px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.3rem;
  overflow-y: auto;

  background-color: #e8e8f3;
  z-index: 1;
  

}

nav li {
  font-weight: bold;
  text-transform: uppercase;
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}

a {
  color: var(--slate-4);
  text-decoration: none;
  transition: color 0.2s ease;
}

nav a[aria-current="page"] {
  color: var(--slate-7);
  /* transition: padding-left 1s;
  padding-left: 5px; */
}

main {
  border: 1px solid var(--gray-4);
  padding: 0.3125rem;
  border-radius: var(--border-radius);
  overflow-y: auto;
  margin-left: 0px;
  /* transition: margin-left 1s ease; */
}

nav, main {
  transition: margin-left 1s ease;
  will-change: transform
}

/* MOBILE */
body.mobile nav {
  margin-left: -160px;
  
}

body.mobile main {
  margin-left: 0px;
}

#app {
  opacity: 1;
  transition: opacity 0.25s ease;
  will-change: opacity;
}

#app.fade {
  opacity: 0;
}

footer {
  grid-area: footer;
  border: 1px solid var(--gray-4);
  padding: var(--padding);
  border-radius: var(--border-radius);
  text-align: center;
}

/* --- */

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

svg {
  filter: invert(var(--icon-invert));
}

@media (max-width: 700px) {
  .layout.no-gap {
    column-gap: 0;
  }
  
  nav {
    height: 89.7dvh;
  }
  
  nav.absolute {
    position: absolute;
    top: 46.2px;
  }

  body.mobile nav.visible {
    margin-left: 0;
  }
}

@media (min-width: 701px) {
  #menu {
    display: none;
  }

  .header-logo {
    padding-left: 5px;
  }
}
