:root {
  --header: max-content;

  /* Light Mode */
  --background-color: #e8e8f3;
  --text-color: #000;
  --icon-invert: 0;

  /* Spacing */
  --padding: 0.3125rem;
  --gap: 0.3125rem;

  /* Borders */
  --border: 1px solid rgb(203, 203, 203);
  --border-radius: 5px;
  --box-shadow: 0 0 2px rgba(0, 0, 0, 0.342);
}

/* Dark Mode */
[data-theme="dark"] {
  --background-color: #18191f;
  --text-color: #fff;
  --icon-invert: 1;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  background-color: var(--background-color, #fff);
}

#loading-overlay {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6); /* coloque a cor que quiser */
  z-index: 99999;
}

.layout {
  display: grid;
  grid-template-areas:
    "header header"
    "nav-main nav-main"
    "footer footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 5px;

  padding: var(--padding);
  height: 100dvh;
}

header {
  grid-area: header;
  border: 1px solid var(--gray-4);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  line-height: 1;
}

.nav-main {
  grid-area: nav-main;
  display: flex;
  gap: var(--gap);
  position: relative;
}

nav {
  min-width: 120px;
  height: 100%;
  border: 1px solid var(--gray-4);
  padding: var(--padding);
  border-radius: var(--border-radius);
  font-family: "Bebas Neue", sans-serif;
  font-size: 1.3rem;
  overflow-y: auto;
  background-color: #e8e8f3;
  z-index: 1;

  transition: margin-left 1s ease;
  position: absolute;
}

nav li {
  font-weight: bold;
  text-transform: uppercase;
}

li:not(:last-child) {
  margin-bottom: 0.5rem;
}

a {
  color: var(--slate-4);
  text-decoration: none;
  transition: color 0.2s ease;
}

nav a[aria-current="page"] {
  color: var(--slate-7);
}

main {
  height: 100%;
  left: 125px;
  border: 1px solid var(--gray-4);
  padding: var(--padding);
  border-radius: var(--border-radius);
  overflow-y: auto;

  transition: margin-left 1s ease;
}

footer {
  grid-area: footer;
  border: 1px solid var(--gray-4);
  padding: var(--padding);
  border-radius: var(--border-radius);
  text-align: center;
}

/* --- */

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

svg {
  filter: invert(var(--icon-invert));
}

@media (max-width: 700px) {
  body.mobile nav {
  margin-left: -125px;
}
  
  body.mobile nav.visible {
    margin-left: 0;
  }

  main {
    left: 0;
    width: 100%;
  }
}

@media (min-width: 701px) {
  #menu {
    display: none;
  }

  .header-logo {
    padding-left: 5px;
  }

   main {
    margin-left: 125px;
    width: 100%;
  }
}
