:root {
  --header: max-content;

  /* Light Mode */
  --background-color: #e0e0e0;
  --text-color: #000;

  /* Padding */
  --padding: 0.3125rem;

  /* Borders */
  --border: 1px solid rgb(203, 203, 203);
  --border-radius: 5px;
  --box-shadow: 0 0 2px rgba(0, 0, 0, 0.342);
}

/* Dark Mode */
[data-theme="dark"] {
  --background-color: #18191f;
  --text-color: #fff;
  --icon-invert: 1;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  padding: var(--padding);
  background-color: var(--background-color, #fff);
  
  /* Grid Areas */
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "nav footer";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  gap: 5px;
  height: 100dvh;
}

header {
  grid-area: header;
  border: 1px solid var(--gray-4);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  line-height: 1;
}

nav {
  grid-area: nav;
  border: 1px solid var(--gray-4);
  padding: var(--padding);
  border-radius: var(--border-radius);
  width: 120px;
}

nav.visible {
  display: block;
}

main {
  border: 1px solid var(--gray-4);
  padding: 0.3125rem;
  border-radius: var(--border-radius);
}

footer {
  grid-area: footer;
  border: 1px solid var(--gray-4);
  padding: var(--padding);
  border-radius: var(--border-radius);
  text-align: center;
}

.line-break {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
  }

  nav {
    display: none;
    width: 100%;
  }

  main {
    flex-grow: 1;
  }
}

@media (min-width: 700px) {
  #menu {
    display: none;
  }

  .header-logo {
    padding-left: 5px;
  }
}
