@import "@css/global.css"; 

@import "@css/imports/reset.css";
@import "@css/imports/typography.css";
@import "@css/imports/colors.css";

/* Components */
@import "@css/imports/components/atoms/button.css";

/* Pages */
@import "@css/imports/pages/404.css";
@import "@css/imports/pages/home.css";
@import "@css/imports/pages/about.css";
@import "@css/imports/pages/contact.css"