@import "@css/global.css"; 

@import "@css/imports/reset.css";
@import "@css/imports/colors.css";
@import "@css/imports/typography.css";
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Components */
@import "@css/imports/components/atoms/button.css";

/* Pages */
@import "@css/imports/pages/404.css";
@import "@css/imports/pages/home.css";
@import "@css/imports/pages/about.css";
@import "@css/imports/pages/contact.css"