@import "@css/imports.css";
:root {
  --border-radius: 5px;
  --header: max-content
}

body {
  max-width: 1100px;
  margin: 0 auto;
  padding: var(--padding);
  background-color: var(--background-color, #fff);
  /* Grid Areas */
  display: grid;
  grid-template-areas:
    "header header"
    "nav main";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  gap: 5px;
  height: 100dvh;
}

header {
  grid-area: header;
  border: 1px solid var(--gray-4);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  line-height: 1;
}

nav {
  grid-area: nav;
  border: 1px solid var(--gray-4);
  padding: var(--padding);
  border-radius: var(--border-radius);
  width: 100px;
}

nav.visible {
  display: block;
}

main {
  border: 1px solid var(--gray-4);
  padding: 0 5px 2px 5px;
  border-radius: var(--border-radius);
  height: 100%;
}

@media (max-width: 700px) {
  body {
    display: flex;
    flex-direction: column;
  }

  nav {
    display: none;
    width: 100%;
  }
}

@media (min-width: 700px) {
  #menu {
    display: none;
  }

  .header-logo {
    padding-left: 5px;
  }
}
